body{
    margin:0;
}
img{
    width: 300px;
    height: 150px;
    padding: 2em;
}
.logo{
    background: rgb(170, 171, 243);
}
h1{
    text-align: center;
    color: white;
    font-weight: 540;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.items{
    color: white;
    padding: 15px;
    height: 13vh;
    font-size:0.65cm;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.items:hover{
    color:black;
    padding: 10px;
    display: block;
    block-size: 30px;
    background:  rgb(170, 171, 243);
}
.lists{
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 1em;
}
/* .lists:hover{
    background:  rgb(170, 171, 243);
} */
.options{
    padding: 0px;
    justify-content: space-between;
    height: 50vh;
}
.buttons{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}
button{
    padding: 10px;
    width: 345px;
    height: 40px;
}
.music_list{
    border-top: rgb(170, 171, 243);
}